.heading {
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 2;

  @media screen and (max-width: 768px) {
    top: -1px !important;
  }

  span {
    display: block;
    flex: 1;
    height: 1px;
    background-color: #dadada;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin: 0 20px;
    counter-increment: sectionheader;

    &::before {
      content: counter(sectionheader) '. ';
    }

    @media screen and (max-width: 768px) {
      font-size: 6vw !important;
    }
  }
}

.poll {
  width: 100%;
  display: flex;
  justify-content: center;
}
