@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import 'global.scss';

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./resources/bgheader1.png');
  background-attachment: fixed;
  background-position-x: center;
  position: fixed;
  top: 0;

  .headings {
    width: 50vw;
    max-width: 50vw;

    h1 {
      margin-top: 0;
      font-size: 4em;
      font-weight: 800;
      font-family: 'Montserrat', sans-serif;
      color: $greenGecko;
    }

    h2 {
      max-width: 100%;
      color: #fff;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}
