.image {
  max-width: 100%;
  height: 350px;
  position: relative;

  &.hasLabel {
    margin-bottom: 50px;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    user-drag: none;

    &.foreground {
      object-fit: contain;
      z-index: 1;
      backdrop-filter: blur(10px);
      cursor: pointer;
    }

    &.background {
      object-fit: cover;
    }
  }

  label {
    display: block;
    width: 100%;
    text-align: center;
    color: #cacaca;
    font-size: 0.9em;
    position: absolute;
    top: 100%;
    margin-top: 15px;
  }
  
  & + .image {
    margin-top: 10px;
  }

  & + .image.hasLabel {
    margin-top: 60px;
  }
}
